body{
	background: url(gridme.png);
	background-size: 25px;
	background-position: -5px 4px ;
}

#field{
	display: inline-block;
	background: rgba(0,0,0,0.05);
	width: 700px;
	height: 500px;
	position: relative;
	border: 4px solid #eee;
	left: 50%;
	margin: 42px -451px; 

}

.cell{
	background: rgba(0,0,0,0.2);
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 0px;
	z-index: 2;
	left: -1000px;
}

.food{
	background: orange;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 1;
	left: -100px;
}

#score{
	background: rgba(0,0,0,0.05);
	position: relative;
	width: 200px;
	height: 100px;
}
